<p>Current user: {{user}}</p>

<p ng-if="error">error: {{error}}</p>

<ng-form ng-hide="user.isAuthenticated">
    <label for="username">username</label>
    <input type="text" id="username" ng-model="username" required>
    <br>
    <label for="password">password</label>
    <input type="password" id="password" ng-model="password" required>
    <br>
    <button ng-click="login()">Log in</button>
</ng-form>

<ng-form ng-if="user.isAuthenticated">
    <button ng-click="logout()">Log out</button>
</ng-form>

<p>username: {{username}}</p>
<p>password: {{password}}</p>
