<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ngBoilerplate</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="<%= vendorCss %>" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="<%= appCss %>" type="text/css" media="screen" charset="utf-8">
    <script src="<%= vendorJs %>" type="text/javascript" charset="utf-8"></script>
    <script src="<%= appJs %>" type="text/javascript" charset="utf-8"></script>

  </head>
  <body>
      <p>Nothing here {{'yet' + '!'}}</p>

      <div ui-view></div>

  </body>
</html>
